!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7 ]>   <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8 ]>   <html class="no-js lt-ie9" lang="en">
/[if gt IE 8]<!--> <html class="no-js" lang="en">

%head
  %meta{ :charset => "utf-8" }

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"

  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"

  /[if lt IE 9]
    = stylesheet_link_tag "foundation/ie"
    %script{ :src => '//html5shiv.googlecode.com/svn/trunk/html5.js' }

  = csrf_meta_tag

%body
  .container
    = yield